<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" href="{{ path('admin') }}">
			<span class="align-middle">
				Espace Admin
			</span>
		</a>
		<ul class="sidebar-nav">
			<li class="sidebar-item active">
				<a class="sidebar-link" href="{{ path('admin') }}">
					<i class="align-middle" data-feather="sliders"></i>
					<span class="align-middle">
						Dashboard
					</span>
				</a>
			</li>
			<li class="sidebar-header">
				Utilisateurs
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="{{ path('admin_reporting_index')}}">
					<i class="fas fa-exclamation-triangle"></i>
					<span class="align-middle">
						Signalement
					</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="{{ path('admin_editing_tools_index')}}">
					<i class="align-middle" data-feather="book"></i>
					<span class="align-middle">
						Manuscrits
					</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="{{ path('admin_user_index')}}">
					<i class="align-middle" data-feather="pen-tool"></i>
					<span class="align-middle">
						Auteurs
					</span>
				</a>
			</li>
			
		</ul>
	</div>
</nav>
